/dts-v1/;

/ {
    u32_cell = <1>;

    check {
        label_foo: foo {
            u32_prop = <0 1>, <0 1>;
        };
    };
};

/ {
    check {
        string_prop = "value", "value";

        relative_ref = @{./string_prop};
        absolute_ref = @{/check/string_prop};

        absolute_ref_to_label = @{/check/foo/u32_prop};
        relative_xref_to_label = @{label_foo/u32_prop};
        absolute_xref_to_label = @{/check/foo/u32_prop};

        cell_test = < @{/u32_cell} 2 3 >, <1 2 3>;
    };
};
